* {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;  }
html {
    margin:0;
    background-image:url("Imagenes/alcohol-7139256.jpg");
    background-size:cover;
    opacity:0.9;
}
body {
    margin:0;
}
header {
    background-color:black;
    color:white;
    padding:1rem;
}
h1 {
    text-align:center;
    text-shadow:0 0.4rem 0.5rem #efb810;
}
#TextoCP {
    text-align:center;
    color:#efb810;
    tex
}
#CP1 {
    position:relative;
    top:350px;
}
#al {
    float:left;
}